
<form [formGroup]="form" class="example-container" (submit)="operate()" *ngIf="form">

  <div [hidden]="true">
    <mat-form-field>
      <input matInput placeholder="ID" required formControlName="idSpecialty">
    </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput placeholder="Name" required formControlName="nameSpecialty">
    @if(form.controls['nameSpecialty'].errors?.['required'] && form.controls['nameSpecialty'].touched){
      <small class="invalid"> Is required</small>
    }
    @if (form.controls['nameSpecialty'].errors?.['minlength'] && form.controls['nameSpecialty'].touched) {
    <small class="invalid">Minlength is 3</small>
    }
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Description" required formControlName="descriptionSpecialty">
    @if(form.controls['descriptionSpecialty'].errors?.['required'] && form.controls['descriptionSpecialty'].touched){
    <small class="invalid"> Is required</small>
    }
    @if (form.controls['descriptionSpecialty'].errors?.['minlength'] && form.controls['descriptionSpecialty'].touched) {
    <small class="invalid">Minlength is 3</small>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Done</span>
  </button>

  <button mat-raised-button color="accent" type="button" routerLink="/pages/specialty">
    <mat-icon>cancel</mat-icon>
    <span>Cancel</span>
  </button>
</form>
