
<form [formGroup]="form" class="example-container" (submit)="operate()" *ngIf="form">

  <!--  <div [hidden]="true">-->
  <mat-form-field>
    <input matInput placeholder="ID" required formControlName="idRol">
  </mat-form-field>
  <!--  </div>-->

  <mat-form-field>
    <input matInput placeholder="Name" required formControlName="name">
    @if(form.controls['name'].errors?.['required'] && form.controls['name'].touched){
      <small class="invalid">Is required</small>
    }
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Description" required formControlName="description">
    @if(form.controls['description'].errors?.['required'] && form.controls['description'].touched){
      <small class="invalid">Is required</small>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Done</span>
  </button>

  <button mat-raised-button color="accent" type="button" routerLink="/pages/roles">
    <mat-icon>cancel</mat-icon>
    <span>Cancel</span>
  </button>
</form>
